<header>
    <h3>
        {{ shop.name  }}

        <ul>
            {% for link  in linklists.main-menu.links -%}
                <li>{{ link.title |  link_to: link.url }}</li>
            {%- endfor  %}
        </ul>
    </h3>

    {% if settings.toggle_search %}
        <form action="/search">
            <input type="search" name="q" >
            <button type="submit">Search</button>
        </form>
    {% endif %}
</header>