<html>
    <head>
        {{ content_for_header }}
        <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" />
    </head>
    <body>
        {%  section 'header'    %}
        {{ content_for_layout }}

        <script src="
https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js
" defer ></script>

    </body>
</html>